body {
  @apply container mx-auto py-0.5 px-4 text-dark-400;
}

main {
  @apply py-4;
}

header {
  @apply flex justify-between;

  nav {
    @apply space-x-2;
  }
}

footer {
  small {
    @apply float-right;
  }

  a {
    @apply underline text-cyan-800;
  }
}
