*:focus,
*:focus:active {
  @apply outline-blue-500;
}

body {
  @apply container mx-auto py-0.5 px-4 text-dark-400 text-lg;
}

main {
  @apply py-4;
}

header {
  @apply flex items-baseline justify-between;

  nav {
    @apply space-x-2;
  }
}

footer {
  small {
    @apply float-right;
  }

  a {
    @apply underline text-cyan-800;
  }
}
